venv/
__pycache__/
pycache/
*.pyc
*.pyo
.env
*.env

node_modules/
frontend/node_modules/
dist/
frontend/dist/
.next/

backend/key.env
backend/*.db
backend/uploads/
*.db
uploads/

.DS_Store
Thumbs.db

.vscode/
.idea/

.env.local
.env.production
